 @import url(https://fonts.googleapis.com/css?family=Irish+Grover);

 body {
   font-family: fantasy, cursive;
   text-align: center;
   background-image: url("background.jpg");
   color: #7C2A30;
   background-repeat: repeat;
 }

 nav {
   padding: 15px;
   background-image: url("banner3.jpg");
   border-radius: 40px;
   /*color: white;*/
   height: 150px;
   background-size: 100%;
   background-repeat: no-repeat;
   background-size: contain;
   background-color: black;
 }

 h1 {
   font-size: 36px;
   color: #CC9900;
 }

 h2 {
   font-size: 22px;
 }

 .character {
   display: inline-block;
   padding: 15px;
   /*border: 1px solid black;
   border-radius: 40%;*/
 }

 .character img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 115px;
   height: 175px;
   border-radius: 15%;
   box-shadow: 5px 5px 5px #888888;
   -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
 }

 .character img:hover {
  /*width: 180px;
  height: 205px;*/
  /*-webkit-filter: grayscale(100%);
  -webkit-filter: hue-rotate(111deg);*/
  -webkit-filter: opacity(0.50);
}

 .characterS {
   display: inline-block;
 }

 .house {
   display: inline-block;
   padding: 25px;
   /*background-image: url("banner.jpg");*/
   /*width: 150px;
   text-align: center;*/
   /*margin: 10px;
   padding: 5px;
   border: 1px solid black;
   border-radius: 10%;*/
   /*background-color: #CC9900;*/
 }

 .house img {
   display: block;
   width: 175px;
   height: 200px;
   border-radius: 15%;
   box-shadow: 5px 5px 5px #888888;
   -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
 }

 .house img:hover {
  /*width: 180px;
  height: 205px;*/
  /*-webkit-filter: grayscale(100%);
  -webkit-filter: hue-rotate(111deg);*/
  -webkit-filter: opacity(0.50);
}

 .region {
   display: inline-block;
 }

 .region img {
   display: block;
   width: 110px;
   height: 200px;
   border-radius: 5%;
   box-shadow: 5px 5px 5px #888888;
   -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
 }

 .region img:hover {
  /*width: 180px;
  height: 205px;*/
  /*-webkit-filter: grayscale(100%);
  -webkit-filter: hue-rotate(111deg);*/
  -webkit-filter: opacity(0.50);

 img {
   border-radius: 10px;
   height: 150px;
   box-shadow: 5px 5px 5px #888888;
 }

 a {
    color: #7C2A30;
}
