<h1><%= @region.name %></h1>
<p><%= @region.story %></p>
<% @region.houses.each do |house| %>
  <div class="house">
    <h2>House <%= house.name %></h2>
    <%= link_to (image_tag house.image), house %>
  </div>
<% end %>
